<p class="analysis-title">
  <span>搜尋關鍵字：{{ searchKey }}，</span>
  <span>搜尋頁數：{{ searchPage }}</span>
</p>
<h1 *ngIf="isLoading">loading...</h1>
<div *ngIf="!isLoading">
  <section class="analysis-result">
    <mat-tab-group>
      <mat-tab label="金額排名">
        <ng-template matTabContent>
          <table
            class="mat-elevation-z8"
            mat-table
            [dataSource]="tenderWinnersByAmount"
          >
            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef>得標廠商</th>
              <td mat-cell *matCellDef="let item; let idx = index;">{{ idx+1}}. {{ item.name }}</td>
            </ng-container>
            <ng-container matColumnDef="displayAmount">
              <th mat-header-cell *matHeaderCellDef>決標金額</th>
              <td mat-cell *matCellDef="let item">{{ item.displayAmount }}</td>
            </ng-container>
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>標案名稱</th>
              <td mat-cell *matCellDef="let item">{{ item.apiResponse.brief.title }}</td>
            </ng-container>
            <ng-container matColumnDef="unitName">
              <th mat-header-cell *matHeaderCellDef>機關</th>
              <td mat-cell *matCellDef="let item">{{ item.apiResponse.unit_name }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="tenderWinnersByAmountColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tenderWinnersByAmountColumns;"></tr>
          </table>
        </ng-template>
      </mat-tab>
      <mat-tab label="得標數排名">
        <ng-template matTabContent>
          <span>得標數排名</span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
