<section class="analysis">
  <p class="analysis-title">
    <span>搜尋關鍵字：{{ searchKey }}，</span>
    <span>搜尋頁數：{{ searchPage }}</span>
  </p>
  <h1 *ngIf="isLoading">loading...</h1>
  <div *ngIf="!isLoading">
    <div class="analysis-result">
      <mat-tab-group (focusChange)="tabChanged($event)">
        <mat-tab label="金額排名">
          <ng-template matTabContent>
            <section class="sort-amount-container">
              <table
                class="sort-table mat-elevation-z8"
                mat-table
                [dataSource]="tenderWinnersByAmount"
              >
                <ng-container matColumnDef="companyName">
                  <th mat-header-cell *matHeaderCellDef>得標廠商</th>
                  <td mat-cell *matCellDef="let item; let idx = index;">{{ idx+1}}. {{ item.name }}</td>
                </ng-container>
                <ng-container matColumnDef="totalAmount">
                  <th mat-header-cell *matHeaderCellDef>總金額</th>
                  <td mat-cell *matCellDef="let item">{{ item.totalAmount.toLocaleString() }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="tenderWinnersByAmountColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: tenderWinnersByAmountColumns; let idx = index"
                  [ngClass]="{'actived': amountTableCurrentRowIdx === idx}"
                  (click)="changedAmountTableCurrentRow(idx)"></tr>
              </table>
              <div class="row-detail">
                <table
                  class="mat-elevation-z8"
                  mat-table
                  [dataSource]="amountTableCurrentRowDetail"
                >
                  <ng-container matColumnDef="displayAmount">
                    <th mat-header-cell *matHeaderCellDef>決標金額</th>
                    <td mat-cell *matCellDef="let item">{{ item.displayAmount }}</td>
                  </ng-container>
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>標案名稱</th>
                    <td mat-cell *matCellDef="let item">{{ item.apiResponse.brief.title }}</td>
                  </ng-container>
                  <ng-container matColumnDef="unitName">
                    <th mat-header-cell *matHeaderCellDef>機關</th>
                    <td mat-cell *matCellDef="let item">{{ item.apiResponse.unit_name }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="amountTableCurrentRowDetailColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: amountTableCurrentRowDetailColumns; let item"
                    (click)="openTenderDetailPage(item)"
                    ></tr>
                </table>
              </div>
            </section>
          </ng-template>
        </mat-tab>
        <mat-tab label="得標數排名">
          <ng-template matTabContent>
            <section class="sort-count-container">
              <table
                class="sort-table mat-elevation-z8"
                mat-table
                [dataSource]="tenderWinnersByCount"
              >
                <ng-container matColumnDef="companyName">
                  <th mat-header-cell *matHeaderCellDef>得標廠商</th>
                  <td mat-cell *matCellDef="let item; let idx = index;">{{ idx+1}}. {{ item.name }}</td>
                </ng-container>
                <ng-container matColumnDef="count">
                  <th mat-header-cell *matHeaderCellDef>得標數量</th>
                  <td mat-cell *matCellDef="let item">{{ item.count }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="tenderWinnersByCountColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: tenderWinnersByCountColumns; let idx = index"
                  [ngClass]="{'actived': countTableCurrentRowIdx === idx}"
                  (click)="changedCountTableCurrentRow(idx)"></tr>
              </table>
              <div class="row-detail">
                <table
                  class="mat-elevation-z8"
                  mat-table
                  [dataSource]="countTableCurrentRowDetail"
                >
                  <ng-container matColumnDef="displayAmount">
                    <th mat-header-cell *matHeaderCellDef>決標金額</th>
                    <td mat-cell *matCellDef="let item">{{ item.displayAmount }}</td>
                  </ng-container>
                  <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>標案名稱</th>
                    <td mat-cell *matCellDef="let item">{{ item.apiResponse.brief.title }}</td>
                  </ng-container>
                  <ng-container matColumnDef="unitName">
                    <th mat-header-cell *matHeaderCellDef>機關</th>
                    <td mat-cell *matCellDef="let item">{{ item.apiResponse.unit_name }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="countTableCurrentRowDetailColumns"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: countTableCurrentRowDetailColumns; let item"
                    (click)="openTenderDetailPage(item)"
                  ></tr>
                </table>
              </div>
            </section>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
