.analysis {
  padding: 10px;
}
.analysis-result {
  table {
    width: 100%;
  }
  .sort-amount-container, .sort-count-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    table {
      height: fit-content;
    }
    tr {
      cursor: pointer;
    }
    .sort-table {
      tr:hover, .actived {
        background-color: rgba(#1976d2, .2);
      }
    }
  }
}
