nav {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #1976d2;
  font-weight: 600;
}

nav {
  padding: 0 1rem;
  letter-spacing: 1.5px;
  .navbar-items {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    a {
      padding: 10px;
    }
    .octicon-link-external {
      display: inline-block;
      margin-left: -5px;
      vertical-align: sub;
    }
  }
  h1 {
    margin: 0;
  }
}

nav {
  .navbar-items {
    a {
      color: white;
      text-decoration: none;
    }
    .octicon-link-external {
      fill: white;
    }
    a:hover, .nav-item-active {
      color: #1976d2;
      background-color: white;
      border-radius: .5rem;
      box-shadow: 0 4px 17px rgba(0, 0, 0, .35);
      .octicon-link-external {
        fill: #1976d2;
      }
    }
  }
}
